<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
 <servlet-name>pqr</servlet-name>
 <servlet-class>test.servlet1</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>pqr</servlet-name>
  <url-pattern>/pqr</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>abc</servlet-name>
 <servlet-class>test.servlet2</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/servlet2</url-pattern>
</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>